@model IEnumerable<DBMS.Models.Finproducts>

@{
    ViewData["Title"] = "Index";
}

<h1>Готовая продукция</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Наименование")
            </th>
            <th>
                @Html.DisplayName("Сумма")
            </th>
            <th>
                @Html.DisplayName("Количество")
            </th>
            <th>
                @Html.DisplayName("Единица измерения")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Countproducts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitNavigation.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Обновить</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
