@model IEnumerable<DBMS.Models.Budgets>

@{
    ViewData["Title"] = "Index";
}

<h1>Бюджет</h1>

<p>
    <a asp-action="Create">Добавить</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Бюджетная сумма")
            </th>
            <th>
                @Html.DisplayName("Процент")
            </th>
            <th>
                @Html.DisplayName("Бонус")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Budgetamount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalePercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bonus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Обновить</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
