@model IEnumerable<DBMS.Models.Saleofproducts>

@{
    ViewData["Title"] = "Index";
}

<h1>Продажа продукции</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Колво")
            </th>
            <th>
                @Html.DisplayName("Сумма")
            </th>
            <th>
                @Html.DisplayName("Дата")
            </th>
            <th>
                @Html.DisplayName("Сотрудник")
            </th>
            <th>
                @Html.DisplayName("Продук")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountSaleofpr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNavigation.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNavigation.Name)
            </td>
             <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Обновить</a> |

                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
        </tr>
}
    </tbody>
</table>
